@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&display=swap');
body{
	margin: 0;
}
.white{
	color: #fff;
}
.black{
	color: #000;
}
.broun{
	color: #43200C;
}
.font-bebas-neue{
    font-family: 'Bebas Neue', cursive;
}
.padding-20px{
    padding: 20px;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
/* --------------quick class-------------- */
.header-area {
    background-color: #ccc;
    height: 570px;
    /* background-image: url('../images/banner/banner.jpg'); */
    overflow: hidden;
    padding: 20px;
}
.header-area .logo{

}
.header-area .logo a{
	
}
.header-area .logo a img {
    width: 180px;
}
.contact-us {
    
}
.contact-us img {
    width: 33px;
    overflow: hidden;
    margin-right: 3px;
}
.contact-us h3 {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.3px;
}
.information{
	text-align: right;
}
.main-menu{
    float: right;
}
.main-menu ul{}
.main-menu ul li {
    margin-right: 35px;
    text-align: center;
}
.main-menu ul li:last-child {
    margin-right: 0px;
}
.main-menu ul li a {
    text-decoration: none;
    transform: up;
    text-transform: uppercase;
    color: #43200C;
    /* font-weight: 700; */
    font-size: 14px;
    height: 10px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.9px;
}

.banner-content{
    margin-top: 120px;
}
.banner-content p {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.8px;
    font-size: 15px;
    border: 2px dashed #43200C;
    color: #43200C;
    display: inline;
    padding: 5px;
    margin: 0;
}
.banner-content h2 {
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
    font-weight: bold;
    color: #43200C;
    margin: 0;
    letter-spacing: 2.5px;
    margin-top: 14px;
    text-shadow: 2px 3px 0px #fff;
}
.banner-content h5 {
    font-family: 'Alfa Slab One', cursive;
    margin: 0;
    text-transform: uppercase;
    color: #43200C;
    font-size: 35px;
    text-shadow: 2px 3px 0px #fff;
}
.offer-position{
    position: relative;
}
.offer {
    background: #DE1C1B;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    /* position: relative; */
    color: #fff;
    position: absolute;
    padding: 8px;
    font-family: 'Bebas Neue', cursive;
    left: 120px;
    bottom: 120px;
}
.offer h3 {
    margin: 0;
    font-size: 34px;
}
.offer h3 span {
    font-size: 22px;
}
.offer p {
    margin: 0;
    letter-spacing: 5.4px;
    font-size: 20px;
}
.boder-dashed {
    border: 2px dashed #fff;
    border-radius: 50%;
    padding: 20px;
}


.buerger-image{}
.buerger-image img {
    width: 650px;
}

/* ------------------ header area css end---------- */

.about-section{
    background-color: #ffffff;
}
.bg-image-big{
    width: 100%;
    height: 300px;
    background-position: center center;
    border-radius: 5px;
    background-size: cover;
}
.bg-image-small-1{
    width: 100%;
    height: 140px;
    background-position: center center;
    border-radius: 5px;
    background-size: cover;
}
.bg-image-small-2{
    width: 100%;
    height: 140px;
    background-position: center center;
    margin-top: 20px;
    border-radius: 5px;
    background-size: cover;
}
.about-padding{
    padding: 80px;
}
.about-content h5{
    font-size: 18px;
}
.about-content h3{
    font-size: 28px;
}
.about-content h5, h3{
    line-height: 24px;
}
/* ------------------ about area css end---------- */
.shop-section{
    min-height: 600px;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}
.heading-line{
    text-align: center;
    margin-bottom: 30px;
}
.heading-line h5{
    background-color: #ffc045;
    padding: 5px 5px;
    color: #3d2514;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
}
.heading-line h3{
    padding: 5px 5px;
    color: #3d2514;
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.heading-line p {
    font-size: 12px;
    width: 80%;
    margin: auto;
}
.shop-item{
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
}
.shop-image img{
    width: 80%;
    height: auto;
}
.shop-content h3{
    color: #3d2514;
    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
}
.shop-content p {
    color: #3d2514;
    margin: 10px auto;
    font-size: 14px;
}
.shop-content a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #bf2222;
    font-family: 'Alfa Slab One', cursive;
    font-size: 18px;
    color: #fff;
    padding: 5px;
    display: block;
    width: 180px;
    margin: auto;
    margin-top: 20px;
    letter-spacing: .8px;
}
/* ------------------ shop area css end---------- */
.testimonial-section{
    min-height: 400px;
    padding: 100px 0;
}
.testimonial-image img{
    width: 100%;
    overflow: hidden;
}
.testimonial-item{
    width: 95%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.testimonial-content p{
    margin-top: 20px;
}
/* ------------------ testimonial area css end---------- */
.contact-section{
    min-height: 550px;
    background-image: url('../images/contact/1.png');
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-heading{
    text-align: center;
}
.contact-heading h5{
    text-transform: uppercase;
    color: #3d2514;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}
.contact-heading h3{
    text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
    font-size: 33px;
    color: #3d2514;
    margin-top: 10px;
}
.order-contact{
    width: 90%;
    margin: auto;
    margin-top: 30px;
}
.order-contact input{
    width: 40%;
    margin-right: 5%;
    margin-bottom: 20px;
    float: left;
}
.order-contact button{
    width: 40%; 
}
.order-contact input:nth-child(2), .order-contact input:nth-child(4){
    margin-right: 0;
}
/* ------------------ contact-section area css end---------- */
.footer-area{
    min-height: 350px;
    background-image: url('../images/footer/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
    position: relative;
}
.footer-left{

}
.copyright{
    color: #fff;
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.footer-left p{
    color: #fff;
    margin: 45px 0 0 40px;
}
.footer-left img {
    width: 260px;
    margin: 45px 0 0 40px;
}
.footer-right {
    margin-top: 150px;
    margin-left: 80px;
}
.footer-right p{
    color: #fff;
    margin: 0;
}
/* ------------------ footer-section area css end---------- */